[MASTER]
disable=
    C0114,
    W0613,
    E203,
    W503
extension-pkg-whitelist=numpy,torch,sklearn
good-names=i,j,k,ex,Run,_,X,y,df,x1,x2

[TYPECHECK]
ignored-modules=numpy,torch,sklearn
ignored-classes=numpy,torch,sklearn
generated-members=numpy.*,torch.*
